<launch>
    <!-- spawn BlueROV model -->
    <include file="$(find fav_object_detection)/launch/object_detection.launch"/>

    <group>
        <node name="pathplanning" pkg="pathfinder" type="astar.py" output="screen" >
            <param name="threshold" value="0.6" />
            <param name="safety_distance" value="0.0" />
        </node>
        <node name="mapping" pkg="pathfinder" type="mockup_map.py" output="screen" />
        <param name="map_resolution_x" value="10" /> <!--35-->
        <param name="map_resolution_y" value="10" /> <!--70-->
    </group>
</launch>
