<launch>

    <!-- arm_vehicle is deactivated! -->
    <node name="keyboard" pkg="bluerov_sim" type="keyboard_control.py" output="screen" />

    <node name="mixer" pkg="bluerov_sim" type="mixer.py" >
        <param name="is_simulation" value="False" />
    </node>

    <node name="depth_calculator" pkg="awesome_package" type="depth_calculator.py" output="screen" >
        <param name="offset" value="0.0" />
    </node>

    <node name="localization" pkg="localization" type="localization.py" output="screen" />
    <node name="minimizer" pkg="localization" type="minimizer.py" output="screen" />


    <!-- Tools -->
    <!-- <node name="comparison_node" pkg="localization" type="comparison.py" output="screen" />
    <node name="data_crunching_node" pkg="localization" type="data_crunching.py" output="screen" />
    <node name="range_analysis_node" pkg="localization" type="range_analysis.py" output="screen" /> -->

</launch>
