<launch>
    <!-- launch the motor_command_sender node-->
    <node name="motor_command_sender" pkg="awesome_package" type="motor_command_sender.py"/>

    <!-- launch the depth_calculator node-->
    <node name="depth_calculator" pkg="awesome_package" type="depth_calculator.py" />
 
    <!-- start the gazebo simulator and an empty world -->
    <include file="$(find bluerov_sim)/launch/gazebo_base.launch" />
 
    <!-- Spawn the vehicle. You can use the args to set the spawn pose-->
    <include file="$(find bluerov_sim)/launch/spawn_vehicle.launch">
       <!-- Set the position-->
       <arg name="x" value="0.0" />
       <arg name="y" value="0.0" />
       <arg name="z" value="-0.2"/>
       <!-- Set roll, pitch, yaw-->
       <arg name="R" value="0.0" />
       <arg name="P" value="0.0" />
       <arg name="Y" value="0.0" />
    </include>
 </launch>
